* { /* reset.css */
    margin: 0;
    padding: 0;
}

body {
    height: 100vh; /* 100% da tela do dispositivo (viewport height) */
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.titulo-destaque { /* .class */
    color: red;
}

.apresentacao { /* flexbox (organizar os elementos na página) */
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}